@model AirnetMVC.DataService.Plan

@{
    ViewBag.Title = "DeletePlan";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>DeletePlan</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Plan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlanType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanValidity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanValidity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PlanOffers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlanOffers)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List","View"+@Html.DisplayFor(model => model.PlanType)+"Plans")
        </div>
    }
</div>
