@model IEnumerable<AirnetMVC.DataService.Plan>

@{
    ViewBag.Title = "ViewPrepaidPlans";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}

<h2>ViewPrepaidPlans</h2>

<p>
    @Html.ActionLink("Create New", "CreatePlan")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.PlanName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanValidity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlanOffers)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.PlanName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanValidity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlanOffers)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditPlan", new { id=item.PlanId }) |
            @Html.ActionLink("Details", "PlanDetails", new { id=item.PlanId }) |
            @Html.ActionLink("Delete", "DeletePlan", new { id=item.PlanId })
        </td>
    </tr>
}

</table>
